#siderBar {
	background: #000;
	min-width: 260px;
	max-width: 260px;
	ul {
		li {
			list-style: none;
		}
	}
}
.content {
	min-height: 100vh;
	width: 100%;
	.content-h {
		background-color: #f2622e;
		.page-header {
			i {
				color: #fff;
			}
		}
	}
}
