.content {
	min-height: 100vh;
	width: 100%;

	.content-h {
		background-color: #f2622e;
		.page-header {
			i {
				color: #fff;
			}
		}
	}
}

.custom-sider {
	background: #060319f9;
	transition: width 0.3s ease-in-out;
	min-width: 230px !important;
	&.collapsed {
		width: 80px;
		min-width: 80px !important;
	}
	&.ant-layout-sider-collapsed .header-box {
		display: none;
	}
	// Các thuộc tính khác cho Sider khi không thu gọn
	&.ant-layout-sider-collapsed .logo {
		display: none;
	}
	// Các thuộc tính khác cho Sider khi thu gọn
}
