.swiper-button-next {
	background-color: rgba($color: #343333, $alpha: 2);
	color: white;
	border-radius: 10%;
}
.swiper-button-prev {
	background-color: rgba($color: #343333, $alpha: 2);
	color: white;
	border-radius: 10%;
}
