.slidebar-page ul li {
	list-style: none;
	line-height: 30px;
}
.slidebar-page ul li a {
	color: black;
}
div.accordion-item button {
	padding: 8px 10px;
	font-size: 13px;
	color: #222;
	background-color: #ef9273;
	border: none;
	color: white;
}
.faq-image {
	position: relative;
}
.faq-image h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-weight: 600;
	font-size: 40px;
	text-shadow: 5px 5px 16px rgba(0, 0, 0, 0.6);
}
.p-top {
	color: #8b8b8b;
	margin-bottom: 10px;
	font-style: italic;
}
.p-bottom {
	color: #8b8b8b;
	margin-bottom: 10px;
}
