@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Exo', sans-serif !important;
}

a {
	text-decoration: none !important;
}

.pointer {
	cursor: pointer;
}
